.menu-icon {
    width: 30px;
    height: 22px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-icon span {
    display: block;
    height: 4px;
    width: 100%;
    background: var(--cor-texto);
    border-radius: 2px;
    transition: 0.3s;
}

.menu-icon.active span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
}

.menu-icon.active span:nth-child(2) {
    opacity: 0;
}

.menu-icon.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}