@import url("../principal/style.css");

#noticia-principal {
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.3s;
}

#noticia-principal:hover {
  transform: translateY(-5px);
}

#noticia-principal img.card-img-top {
  width: 100%;
  height: 45vh;
  object-fit: cover;
}

#noticia-principal .card {
  background-color: var(--cor-primaria);
  color: var(--cor-texto);
  border: none;
}

#noticia-principal .card-body {
  background: var(--cor-primaria);
  color: var(--cor-texto);
  padding: 1rem;
}

#noticia-principal .card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--cor-texto);
}

#noticia-principal .card-text {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: var(--cor-texto);
}

#noticia-principal .btn-cta {
  background-color: var(--cor-secundaria);
  color: var(--cor-texto);
  transition: background-color 0.3s;
}

#noticia-principal .btn-cta:hover {
  background-color: var(--cor-secundaria-hover);
  color: var(--cor-texto);
}

.card-img-top {
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: center;
}

.card.h-100 {
  border-radius: 0.75rem;
  transition: transform 0.3s ease;
}

.card.h-100:hover {
  transform: translateY(-4px);
}

.fade-img {
  transition: opacity 0.5s ease-in-out;
}

.noticia-card {
  transition: all 0.3s ease;
}

.noticia-card.expandido .card {
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.card-text {
  transition: max-height 0.5s ease;
  overflow: hidden;
}

.btn-fonte-original{
  background-color: var(--cor-primaria);
  color: var(--cor-texto);
}

.btn-fonte-original:hover {
  background-color: var(--cor-primaria-hover);
}